In [1]:
import pandas as pd
import numpy as np

In [2]:
lambda_ranks=pd.read_excel('C:/Users/Ben/Documents/Harvard Files/Research/ART Paper/Final_Output_v2.xlsx',
                      sheetname='Lambda')
mu_ranks=pd.read_excel('C:/Users/Ben/Documents/Harvard Files/Research/ART Paper/Final_Output_v2.xlsx',
                      sheetname='Mu')

In [4]:
lambda_ranks[['Rank - Observed','Rank - Gompertz','Rank - Logistic']].corr()

                 Rank - Observed  Rank - Gompertz  Rank - Logistic
Rank - Observed         1.000000         0.527351         0.431380
Rank - Gompertz         0.527351         1.000000         0.956883
Rank - Logistic         0.431380         0.956883         1.000000

In [5]:
lambda_ranks[['delay_obs','lamb_gomp','lamb_log']].corr()

           delay_obs  lamb_gomp  lamb_log
delay_obs   1.000000   0.623917  0.580675
lamb_gomp   0.623917   1.000000  0.987352
lamb_log    0.580675   0.987352  1.000000

In [8]:
mu_ranks[['Rank - Avg Change','Rank - Gompertz','Rank - Log']].corr()

                   Rank - Avg Change  Rank - Gompertz  Rank - Log
Rank - Avg Change           1.000000         0.898916    0.658638
Rank - Gompertz             0.898916         1.000000    0.848381
Rank - Log                  0.658638         0.848381    1.000000

In [9]:
mu_ranks[['avg_change','mu_gomp','mu_log']].corr()

            avg_change   mu_gomp    mu_log
avg_change    1.000000  0.897412  0.627453
mu_gomp       0.897412  1.000000  0.841316
mu_log        0.627453  0.841316  1.000000